*{
    margin: 0px;
    font-family: 'inter';
}

#menu-superior{
    background-color: #303030;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 475px;
    

}

#texto-menu-superior{
    color: white;
    font-size: 72px;
    margin-left: 72px;
    padding-top: 180px;

}

#texto-menu-superior2{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 72px;
}

#historico{
    background-color: #F9F9F9;
    background-size: 100%;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    height: 180px;
   
}

#hist1{
    margin-top: 55px;
    margin-left: 38%;
}

#portifolio{
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#texto-portifolio{
    margin-left: 100px;
    margin-top: 200px;
}

#corpo-texto-portifolio{
    font-size: 18px;
    margin-top: 25px;
}

#questionario{
    background-color: #303030;
    height: 580px;
    text-align: center;
    margin-top: 50px;
}

#titulo-quationario{
    padding-top: 80px;
    color: white;
    
    
}

#input{
    margin-left: 10px;
}

input{
    width: 300px;
    height: 30px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
}

button{
    background-color: #C07212;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 250px;
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #469cc1;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px #41657584;
    transition-duration: 0.5s;
}

#produzido{
    text-align: center;
}

#texto-producao{
    padding: 5px;
}